<html>

<head>
  <title>Rate FT.com</title>
  </head>

<header class="o-header-services" data-o-component="o-header">
	<div class="o-header-services__top o-header-services__container">
		<div class="o-header-services__ftlogo"></div>
		<div class="o-header-services__title">
			<h1 class="o-header-services__product-name"><a href="/">Rate FT.com</a></h1>
		</div>
	</div>
</header>

<body>
  <article>
    <div class="o-grid-row">
  		<div data-o-grid-colspan="12 S11 Scenter M9">
        <br>
        <h2 class="o-typography-product-heading-level-3">Please share your experience with us:</h2>

        <form class='buttons' action="/ratings" method="post">
          <button class="o-buttons o-buttons--secondary" name="score" id="b-2" type="submit" value="-2">-2</button>
          <button class="o-buttons o-buttons--secondary" name="score" id="b-1" type="submit" value="-1">-1</button>
          <button class="o-buttons o-buttons--secondary" name="score" id="b0" type="submit" value="0">0</button>
          <button class="o-buttons o-buttons--secondary" name="score" id="b1" type="submit" value="1">1</button>
          <button class="o-buttons o-buttons--secondary" name="score" id="b2" type="submit" value="2">2</button>
        </form>
      </div>
    </div>
  </article>
</body>

</html>
