<html>

<head>
  <title>Rate the FT</title>
</head>

<h1>Please share your experience with us<h1>

<form class='buttons' action="/ratings" method="post">
  <button name="-2" id="b-2" type="submit">-2</button>
  <button name="-1" id="b-1" type="submit">-1</button>
  <button name="0" id="b0" type="submit">0</button>
  <button name="1" id="b1" type="submit">1</button>
  <button name="2" id="b2" type="submit">2</button>
</form>

</html>
