<html>

<head>
  <title>Rate the FT</title>
</head>

<h1>Please share your experience with us<h1>

<form class='buttons' action="/ratings" method="post">
  <button name="score" id="b-2" type="submit" value="-2">-2</button>
  <button name="score" id="b-1" type="submit" value="-1">-1</button>
  <button name="score" id="b0" type="submit" value="0">0</button>
  <button name="score" id="b1" type="submit" value="1">1</button>
  <button name="score" id="b2" type="submit" value="2">2</button>
</form>

</html>
