<html>

<head>
  <title>Rate the FT</title>
  <script async type="javascript" src="https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-buttons"></script>
  <link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-buttons" />
</head>

<h1>Please share your experience with us<h1>

<form class='buttons' action="/ratings" method="post">
  <button class="o-buttons o-buttons--secondary" name="score" id="b-2" type="submit" value="-2">-2</button>
  <button class="o-buttons o-buttons--secondary" name="score" id="b-1" type="submit" value="-1">-1</button>
  <button class="o-buttons o-buttons--secondary" name="score" id="b0" type="submit" value="0">0</button>
  <button class="o-buttons o-buttons--secondary" name="score" id="b1" type="submit" value="1">1</button>
  <button class="o-buttons o-buttons--secondary" name="score" id="b2" type="submit" value="2">2</button>
</form>

</html>
