<html>

<head>
  <title>Rate the FT</title>
</head>

<h1>Please share your experience with us<h1>

<form class='buttons' action='/ratings' method='post'>
  <button id="b-2" type="button">-2</button>
  <button id="b-1" type="button">-1</button>
  <button id="b0" type="button">0</button>
  <button id="b1" type="button">1</button>
  <button id="b2" type="button">2</button>
</form>

</html>
