<html>
Thanks for sharing your experience with us by leaving a score of: <%= @your_score %>

<form action="/">
  <button name="return" type="submit">Return</button>
</form>

Previous ratings:
<ul>
  <% @ratings.each do |score| %>
    <li><%= score %></li>
  <% end %>
</ul>


</html>
